<div class="top-bar">
	<div class="heading">
		<h2>Contact List</h2>
	</div>
	<div class="addContact">
		<a routerLink="/add">Add Contact</a>
	</div>
</div>
<div class="tableWrapper">
 <table class="table">
 	<thead>
 		<tr>
 			<th>Contact Name</th>
 			<th>Email</th>
 			<th>Phone Number</th>
 			<th>Status</th>
 			<th>Action</th>
 		</tr>
 	</thead>
 	<tbody>
 		<tr *ngFor="let contact of contacts">
 			<td>{{ contact.firstName }} {{ contact.lastName }}</td>
 			<td>{{ contact.email }}</td>
 			<td>{{ contact.phoneNumber }}</td>
 			<td class="status-value">{{ contact.status }}</td>
 			<td class="action-links"><a routerLink="/detail/{{contact.id}}" title="Edit" (click)="onSelect(contact)"><img src="assets/editicon.png" width="15" height="15"></a><a title="Delete" (click)="delete(contact)"><img src="assets/deleteicon.png" width="15" height="15"></a></td>
 		</tr>
 	</tbody>
</table>
</div>

<app-contact-detail [contact]="selectedContact"></app-contact-detail>
<app-contact-add></app-contact-add>
