<div class="top-bar">
	<div class="heading">
		<h2>Contact List</h2>
	</div>
	<div class="addContact">
		<a (click)="showAddContact(showOnAdd)" routerLink="/add">Add Contact</a>
	</div>
</div>
<div class="table">
 <table>
 	<thead>
 		<tr>
 			<th>Contact Name</th>
 			<th>Email</th>
 			<th>Phone Number</th>
 			<th>Status</th>
 			<th>Action</th>
 		</tr>
 	</thead>
 	<tbody>
 		<tr *ngFor="let contact of contacts">
 			<td>{{ contact.firstName }} {{ contact.lastName }}</td>
 			<td>{{ contact.email }}</td>
 			<td>{{ contact.phoneNumber }}</td>
 			<td>{{ contact.status }}</td>
 			<td><a routerLink="/detail/{{contact.id}}" (click)="onSelect(contact)">Edit</a><a (click)="delete(contact)">Delete</a></td>
 		</tr>
 	</tbody>
<!-- <ul class="heroes">
  <li *ngFor="let contact of contacts">
    <h2>{{ contact.firstName | uppercase }} {{ contact.lastName | uppercase }} Details</h2>
	<div><span>First name: </span>{{ contact.firstName }}</div>
	<div><span>Last name: </span>{{ contact.lastName }}</div>
	<div><span>Email: </span>{{ contact.email }}</div>
	<div><span>Phone Number: </span>{{ contact.phoneNumber }}</div>
	<div><span>Status: </span>{{ contact.status }}</div>
  </li>
</ul> -->
</table>
</div>

<app-contact-detail [contact]="selectedContact"></app-contact-detail>
<app-contact-add></app-contact-add>


	<!-- <label>First name:
	      <input [(ngModel)]="contact.firstName" placeholder="first name">
	    </label>
	    <label>Last name:
	      <input [(ngModel)]="contact.lastName" placeholder="last name">
	    </label>
	    <label>Email:
	      <input type="email" [(ngModel)]="contact.email" placeholder="email">
	    </label>
	    <label>Phone number:
	      <input type="tel" [(ngModel)]="contact.phoneNumber" placeholder="phone">
	    </label> -->