html{
	font-family: sans-serif;
	line-height: 1.15;
}

body{
	margin: 0;
	font-family: sans-serif;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.container{
	width: 1100px;
	margin:auto;
}